body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

.title-area, .writer-area {
    padding: 10px 20px;
    border-top: 0.5px solid #4444;
    border-bottom: 0.5px solid #4444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section p {
    margin: 0;
    font-size: 1em;
    color: #555;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}
.button-group button {
    padding: 10px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
}
.button-group button:hover {
    background: #0056b3;
}
.image-container {
    margin-top: 10px;
}
.resize-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.comment-section {
    margin-top: 30px;
}
.comment-section input {
    width: calc(100% - 110px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.comment-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    cursor: pointer;
}
.comment-section button:hover {
    background: #0056b3;
}

#comment-time {
    float: right;
}