.top-right-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right-links span {
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #0073e6;
}

.top-right-links span:hover {
    text-decoration: underline;
}
/* 게시글 목록 */
table {
    width: 80%; /* 테이블 크기 자동 조정 */
    margin: 20px auto; /* 중앙 정렬 */
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

#boardTitle, #boardTitle a {
    text-align: left;
    text-decoration: none;
    color: black;
}

table td a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.pagination a, .pagination .page-link {
    padding: 8px 16px;
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover, .pagination .page-link:hover {
    background-color: #0056b3;
    color: #fff;
}

.pagination .current {
    font-weight: bold;
    color: #000;
}

.pagination .first, .pagination .last {
    font-size: 14px;
}

.pagination .prev, .pagination .next {
    font-size: 16px;
}

.pagination a:disabled {
    color: #ccc;
    pointer-events: none;
}

#postBtn {
    position: absolute;
    bottom: 10px;
    right: 30px;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}