.form-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
}

#boardType {
  padding: 5px;
  font-size: 16px;
  margin-right:200px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #0073e6;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

#submitBtn {
    background-color: #0073e6;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

#fileList, #newFileList {
  list-style: none;
  padding: 0;
}

#fileList li, #newFileList li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

#fileList span, #newFileList span {
  flex: 1;
  display: inline-block;
  font-size: 16px;
}

/* 삭제 버튼 스타일 */
.deleteFileButton {
    width: 24px;
    height: 24px;
    background-image: url('/image/deleteImg.png');
    background-color: #fffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 0;
}

.deleteFileButton:hover {
    opacity: 0.8;
}

.custom-file-label {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('/image/fileSelect.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}

.custom-file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}