<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

<h1>게시판</h1>
<div class="top-right-links">
    <span id="create">회원 가입</span>
    <span id="userId" style="display:none;"></span>
    <span id="login">로그인</span>
    <span id="logout" style="display:none;">로그아웃</span>
    <span id="findId">아이디 찾기</span>
    <span id="findPwd">비밀번호 찾기</span>
</div>

<!--게시판 목록-->
<div class="board-list">
    <span id="allBoard" class="board-item">전체</span>
    <span id="freeBoard" class="board-item">자유게시판</span>
    <span id="qnaBoard" class="board-item">Q&A게시판</span>
</div>

<button id="postBtn" onclick="posting()">글 쓰기</button>

<div class="dialog-overlay" id="dialog-overlay"></div>

<div class="dialog" id="userIdDialog">
    <ul>
        <li id="viewPosts">내 글 보기</li>
        <li id="updatePwd">비밀번호 변경</li>
    </ul>
</div>

<script>
    window.onload = function() {
        var loggedIn = [[${loggedIn}]];
        var userId = "[[${userId}]]";

        toggleDisplay(loggedIn, userId);
    };
</script>

<script src="/javascript/home.js"></script>
</body>
</html>
