<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>

<h1>게시판</h1>
<div class="top-right-links">
    <span id="create">회원 가입</span>
    <span id="userId" style="display:none;"></span>
    <span id="login">로그인</span>
    <span id="logout" style="display:none;">로그아웃</span>
    <span id="findId">아이디 찾기</span>
    <span id="findPwd">비밀번호 찾기</span>
</div>

<!--게시판 목록-->
<div class="board-list">
    <span id="allBoard" class="board-item">전체</span>
    <span id="freeBoard" class="board-item">자유게시판</span>
    <span id="qnaBoard" class="board-item">Q&A게시판</span>
</div>

<div class="search">
    <form action="/community/search" method="get">
        <select name="searchType" id="searchType">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="writer">작성자</option>
        </select>
        <input type="text" name="searchKeyword" id="searchKeyword">
        <button type="submit" class="search-btn"></button>
    </form>
    <button id="postBtn" onclick="posting()">글 쓰기</button>
</div>

<div class="dialog-overlay" id="dialog-overlay"></div>

<div class="dialog" id="userIdDialog">
    <ul>
        <li id="viewPosts">내 글 보기</li>
        <li id="updatePwd">비밀번호 변경</li>
        <li id="deleteId">계정 탈퇴</li>
    </ul>
</div>

<div id="passwordModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>비밀번호를 입력하세요</p>
        <input type="password" id="pwdInput" placeholder="비밀번호">
        <button id="confirmDelete">확인</button>
    </div>
</div>

<script>
    window.onload = function() {
        var loggedIn = [[${loggedIn}]];
        var userId = "[[${userId}]]";

        toggleDisplay(loggedIn, userId);
    };

    document.getElementById('confirmDelete').addEventListener('click', function() {
        const pwd = document.getElementById('pwdInput').value;
        if (pwd) {
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');

            $.ajax({
              type: 'DELETE',
              url: '/user/delete?pwd=' + encodeURIComponent(pwd),
              contentType:'application/json',
              beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
              },
              success: function(response) {
                alert('탈퇴되었습니다.');
                window.location.href = '/';
                document.getElementById('passwordModal').style.display = 'none';
              },
              error: function(xhr, status, error) {
                  try {
                      // 서버에서 반환된 오류 메시지를 추출하여 alert로 표시
                      const errorResponse = JSON.parse(xhr.responseText);
                      alert(errorResponse.errors.join("\n"));
                  } catch (e) {
                      alert("서버 오류가 발생했습니다. 다시 시도해주세요.");
                  }
              }
            });
        } else {
            alert('비밀번호를 입력하세요.');
        }
    });
</script>

<script src="/javascript/home.js"></script>
</body>
</html>
