<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <title>게시글 작성</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/posting.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<h1>게시글 작성</h1>
<form id="postForm" enctype="multipart/form-data">
  <div class="form-row">
    <label for="boardFile" class="custom-file-label"></label>
    <input type="file" id="boardFile" class="custom-file-input" multiple hidden>
    <input type="submit" value="작성 완료">
  </div>

  <div class="form-row">
    <input type="text" id="boardTitle" placeholder="제목을 입력하세요">
  </div>

  <div class="form-row">
    <textarea id="boardContents" cols="50" rows="10" placeholder="내용을 입력하세요"></textarea>
  </div>

  <ul id="fileList">
    <li>
      <span></span>
      <button type="button" class="deleteFileButton" hidden></button>
    </li>
  </ul>
</form>

<script>
  $(document).ready(function() {
    var selectedFiles = [];

    $('#boardFile').change(function(event) {
      var files = event.target.files;
      var fileList = $('#fileList');

      for (var i = 0; i < files.length; i++) {
        var fileName = files[i].name;
        selectedFiles.push(files[i]);
        var listItem = $('<li></li>');
        var fileText = $('<span></span>').text(fileName);
        var deleteButton = $('<button type="button" class="deleteFileButton"></button>');

        deleteButton.click(function() {
          var index = $(this).parent().index() - 1;
          $(this).parent().remove();
          deleteFile(index);
        });

        listItem.append(fileText).append(deleteButton);
        fileList.append(listItem);
      }
    });

    function deleteFile(index) {
      selectedFiles.splice(index, 1);
      var files = $('#boardFile')[0].files;
      var fileList = new DataTransfer();

      for (var i = 0; i < files.length; i++) {
        if (i !== index) {
          fileList.items.add(files[i]);
        }
      }

      $('#boardFile')[0].files = fileList.files;
    }

    $('#postForm').submit(function(event) {
      event.preventDefault();

      var boardTitle = $('#boardTitle').val();
      var boardContents = $('#boardContents').val();
      var userCode = [[${user.userCode}]];

      var header = $("meta[name='_csrf_header']").attr('content');
      var token = $("meta[name='_csrf']").attr('content');

      var formData = new FormData();
      var boardFile = $('#boardFile')[0].files;

      for (var i = 0; i<selectedFiles.length; i++) {
        formData.append("boardFile", selectedFiles[i]);
      }

      formData.append("boardTitle", boardTitle);
      formData.append("boardContents", boardContents);
      formData.append("userCode", userCode);

      $.ajax({
          type: 'POST',
          url: '/community/post',
          data: formData,
          contentType: false,
          processData: false,
          beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token);
          },
          success: function(response) {
              window.location.href = '/';
          },
          error: function(xhr, status, error) {
              // 오류가 발생하면 처리
          }
      });
    });
  });
</script>

</body>
</html>