<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/posting.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<h1>게시글 수정</h1>

<!-- 게시글 수정 폼 -->
<form id="updateForm" enctype="multipart/form-data">

  <div class="form-row">
    <label for="boardType">게시판 선택: </label>
    <select id="boardType" name="boardType">
      <option value="FREE">자유게시판</option>
      <option value="QNA">QNA게시판</option>
    </select>
    <label for="newFile" class="custom-file-label"></label>
    <input type="file" id="newFile" class="custom-file-input" multiple hidden>
    <button type="submit" id="submitBtn">수정하기</button>
  </div>

  <div class="form-row">
    <input type="text" id="boardTitle" name="boardTitle"  th:value="${boardUpdate.boardTitle}" required />
  </div>

  <div class="form-row">
    <textarea id="boardContent" name="boardContent" rows="10" cols="50" th:text="${boardUpdate.boardContents}" required></textarea>
  </div>

  <ul id="fileList">
    <li th:each="file, iterStat : ${boardUpdate.storedFileName}">
      <span th:text="${file}"></span>
      <button type="button" class="deleteFileButton"></button>
    </li>
  </ul>

  <ul id="newFileList">
    <li>
      <span></span>
      <button type="button" class="deleteFileButton" hidden></button>
    </li>
  </ul>

</form>

<script>
  $(document).ready(function() {
      var selectedFiles = [];

      $('#newFile').change(function(event) {
        var files = event.target.files;
        var fileList = $('#newFileList');

        for (var i = 0; i < files.length; i++) {
          var fileName = files[i].name;
          selectedFiles.push(files[i]);
          var listItem = $('<li></li>');
          var fileText = $('<span></span>').text(fileName);
          var deleteButton = $('<button type="button" class="deleteFileButton"></button>');

          deleteButton.click(function() {
            var index = $(this).parent().index() - 1;
            $(this).parent().remove();
            deleteFile(index);
          });

          listItem.append(fileText).append(deleteButton);
          fileList.append(listItem);
        }
      });

      function deleteFile(index) {
        selectedFiles.splice(index, 1);
        var files = $('#newFile')[0].files;
        var fileList = new DataTransfer();

        for (var i = 0; i < files.length; i++) {
          if (i !== index) {
            fileList.items.add(files[i]);
          }
        }

        $('#newFile')[0].files = fileList.files;
      }

      let removedFiles = [];

      $('.deleteFileButton').click(function() {
          const fileName = $(this).siblings('span').text();
          removedFiles.push(fileName);
          $(this).closest('li').remove();
      });

      $('#updateForm').submit(function(e) {
          e.preventDefault();

          const boardId = [[${boardUpdate.id}]];
          const boardType = $('#boardType').val();
          const boardTitle = $('#boardTitle').val();
          const boardContent = $('#boardContent').val();
          const userCode = [[${boardUpdate.userCode}]];
          const boardHits = [[${boardUpdate.boardHits}]];

          var header = $("meta[name='_csrf_header']").attr('content');
          var token = $("meta[name='_csrf']").attr('content');

          const formData = new FormData();
          formData.append("boardId", boardId);
          formData.append("boardType", boardType);
          formData.append("boardTitle", boardTitle);
          formData.append("boardContents", boardContent);
          formData.append("userCode", userCode);
          formData.append("boardHits", boardHits);

          for (var i = 0; i<selectedFiles.length; i++) {
              formData.append("newFiles", selectedFiles[i]);
          }

          removedFiles.forEach(file => {
              formData.append("removedFiles", file);
          });

          $.ajax({
              type: 'PUT',
              url: '/community/update/' + boardId,
              processData: false,
              contentType: false,
              beforeSend: function(xhr) {
              xhr.setRequestHeader(header, token);
              },
              data: formData,
              success: function(response) {
                  alert('게시글이 수정되었습니다.');
                  window.location.href = "/community/" + boardId;
              },
              error: function(error) {
                  alert('게시글 수정에 실패했습니다.');
              }
          });
      });
  });
</script>
</body>
</html>
