<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>
  <link rel="stylesheet" href="/css/posting.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<h2>게시글 수정</h2>

<!-- 게시글 수정 폼 -->
<form id="updateForm" enctype="multipart/form-data">
  <input type="text" id="boardTitle" name="boardTitle"  th:value="${boardUpdate.boardTitle}" required /><br><br>
  <textarea id="boardContent" name="boardContent" rows="10" cols="50" th:text="${boardUpdate.boardContents}" required></textarea><br><br>
  <ul id="fileList">
    <li th:each="file, iterStat : ${boardUpdate.storedFileName}">
      <span th:text="${file}"></span>
      <button type="button" class="deleteFileButton">삭제</button>
    </li>
  </ul>
  <input type="file" id="newFile" multiple><br>
  <button type="submit">수정하기</button>
</form>

<script>
  $(document).ready(function() {
      let removedFiles = [];

      $('.deleteFileButton').click(function() {
          const fileName = $(this).siblings('span').text();
          removedFiles.push(fileName);
          $(this).closest('li').remove();
      });

      $('#updateForm').submit(function(e) {
          e.preventDefault();

          const boardId = [[${boardUpdate.id}]];
          const boardTitle = $('#boardTitle').val();
          const boardContent = $('#boardContent').val();
          const userCode = [[${boardUpdate.userCode}]];
          const boardHits = [[${boardUpdate.boardHits}]];

          var header = $("meta[name='_csrf_header']").attr('content');
          var token = $("meta[name='_csrf']").attr('content');

          const formData = new FormData();
          formData.append("boardId", boardId);
          formData.append("boardTitle", boardTitle);
          formData.append("boardContents", boardContent);
          formData.append("userCode", userCode);
          formData.append("boardHits", boardHits);

          const newFiles = $('#newFile')[0].files;
          for (let i = 0; i < newFiles.length; i++) {
              formData.append("newFiles", newFiles[i]);
          }

          removedFiles.forEach(file => {
              formData.append("removedFiles", file);
          });

          $.ajax({
              type: 'PUT',
              url: '/community/update/' + boardId,
              processData: false,
              contentType: false,
              beforeSend: function(xhr) {
              xhr.setRequestHeader(header, token);
              },
              data: formData,
              success: function(response) {
                  alert('게시글이 수정되었습니다.');
                  window.location.href = "/community/" + boardId;
              },
              error: function(error) {
                  alert('게시글 수정에 실패했습니다.');
              }
          });
      });
  });
</script>
</body>
</html>
